@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

.map-box{
    position: relative;
    z-index: 0;
}

/* Target Webkit browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
  
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.react-datepicker-wrapper {
    width: 100%;
    height: 100%;
}
.react-datepicker__input-container {
    display: flex;
    align-items: center; /* Center-align content */
    height: 100%; /* Match parent height */
}

.custom-select__control {
  @apply px-3 py-2 rounded-lg border border-gray-300 text-sm shadow-sm;
  font-size: 1.125rem; /* Apply font size */
}

.custom-select__placeholder {
  @apply text-gray-400;
  font-size: 1.125rem; /* Apply font size */
}

.custom-select__single-value {
  @apply text-gray-600;
  font-size: 1.125rem; /* Apply font size */
}

.custom-select__input {
  font-size: 1.125rem; /* Apply font size for input field */
  @apply text-gray-600;
}

.custom-select__option {
  @apply px-3 py-2 text-gray-600 hover:bg-gray-100 cursor-pointer;
  font-size: 1.125rem; /* Apply font size for dropdown options */
}

.custom-select__menu {
  @apply mt-1 border border-gray-300 shadow-md rounded-md bg-white z-10;
}

.custom-select__option--is-selected {
  @apply bg-green-50 text-green-900 font-semibold;
}

  
  
  